<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="Wox9DVPTODfC8A9tfclBQ" />
    <add key="consumerSecret" value="qECHTcJYG1SqnkxECBy1UBR7uuPdqGGQT3P8lAmn4" />
    <add key="accessToken" value="283141967-nePN6ZsGEywqq5lMYFIRIVtomqedan9H8jnWLbzM" />
    <add key="accessTokenSecret" value="1boTxm3ThfcQuewvV2whFTijzPUxWTj3VAgP2Y8kLBG7V" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1" newVersion="4.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>